.width-auto {
    width: auto;
}

.text-lg {
    font-size: 2rem;
}
.carousel-item {
    text-align: center;
}

.carousel-indicators li {
    border: none;
    background: #ccc;
}

.carousel-indicators li.active {
    background: white
}

pd-5 {
    background-color: #ffffff;
}
