body {
    background: linear-gradient(to left, black);
    min-height: 100vh;
}

.width-auto {
    width: auto;
}

.text-lg {
    font-size: 2rem;
}

.carousel-indicators li {
    border: none;
    background: #ccc;
}

.carousel-indicators li.active {
    background: whitesmoke
}

pd-5 {
    background-color: #ffffff;
}