<html>

	<head>
		<!-- Bootstrap -->
    	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    	<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Jquery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<!-- Custom JS -->

		<script type="text/javascript" src="{{ url_for('static', filename='js/upload.js') }}"></script>
		<!-- Custom CSS -->

		<title>Admin Dashboard</title>
	</head>
   	<body>

		<header class="container-fluid bg-dark ">
			<h1 class="text-center font-weight-bold text-white">Admin Dashboard</h1>
		</header>
		
		{% with messages = get_flashed_messages() %}  
         {% if messages %}  
               {% for message in messages %}  
                    <p class="container btn btn-success md-auto d-block">{{ message }}</p>  
               {% endfor %}  
         {% endif %}  
      	{% endwith %}  

		<section class="container text-white bg-dark rounded">
			<h3 class="text-uppercase font-weight-bold text-center">Upload Files</h3>
			<form action = "/upload" method = "POST" 
	         enctype = "multipart/form-data">
      		
      		<div id="drop">
	        	<label for="folder"class=" font-weight-bold">Choose a folder to upload files:</label>
				<select class="selected" id="folder" name="folder">
					<option>Select Folder</option>
			        {% for key,folder in folder.items() %}
					  <option value="{{folder['id']}}">{{ folder['title'] }}</option>
					{% endfor %}
				</select>
			</div>
	        
	        <input class="p-2" type = "file" name = "file" />
	        <input type = "submit"/>
	      </form>	
		</section>
   	</body>
</html>