<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}"> 
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap" rel="stylesheet">

    <!-- Fontawesome -->
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>BVEC LIBRARY</title>
  </head>
  <body>
    
    <!-- Header for the page-->
    <div class="container-fluid sticky-top m-0">
        <!-- Header -->
        <div class="row" id="header">

            <div class="col-md-2 col-xs-12 mt-2">
                <a href="/"><img src="{{ url_for('static', filename='res/img/logo.jpeg')}}" class="border border-dark d-block m-auto rounded-circle"></a>
                <h6 class="display-6 text-white text-center font-weight-bold mt-3">BARAK VALLEY ENGINEERING COLLEGE</h6>
            </div>

            <div class="col-md-8 col-xs-12 mt-4 title">
                <h1 class="display-6 text-white text-center font-weight-normal mt-0">BVEC <span class="font-weight-bold display-3">LIBRARY</span></h1>
            </div>
        </div>
    </div>
        <!-- Main Content -->
    <div class="container-fluid " id="main">
        
        <div class="row"> 
            <div class="col-lg-4 col-md-6 col-xs-12 mt-5">
                <div class="flip-card mx-auto d-block">
                  <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <span class="fa-stack fa-5x">
                          <i class="fa fa-square fa-stack-2x"></i>
                          <strong class="text-dark fa-stack-1x mt-2">1</strong>
                        </span>
                        <h4 class="font-weight-bold text-light">1st SEMESTER</h4>
                        <h5 class="font-weight-bold mt-1 btn btn-dark text-light">CREDITS <i class="badge badge-light">2</i></h5><br>
                        <h5 class="font-weight-bold btn btn-dark text-light">MARKS <i class="badge badge-light">2</i></h5>
                    </div>
                    <div class="flip-card-back">
                        <div class="h2 text-center font-weight-bold mt-3 border-bottom">SUBJECT</div>
                        <a href="link" class="btn text-white font-weight-bold text-center">[PH181101] Physics-101</a><br>
                        <a href="link" class="btn text-white font-weight-bold text-center">[MA181102] Mathematics-I</a><br>
                        <a href="link" class="btn text-white font-weight-bold text-center">[CE181103] Engineering Graphics and Design</a><br>
                        <a href="link" class="btn text-white font-weight-bold text-center">[ME181104] Engineering Mechanics</a><br>
                        <a href="link" class="btn text-white font-weight-bold text-center">[HS181105] Sociology</a><br>
                    </div>
                  </div>
                </div>
            </div>

            <!-- 2 -->

            <div class="col-lg-4 col-md-6 col-xs-12 mt-5">
                <div class="flip-card mx-auto d-block">
                  <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <span class="fa-stack fa-5x">
                          <i class="fa fa-square fa-stack-2x"></i>
                          <strong class="text-dark fa-stack-1x mt-2">2</strong>
                        </span>
                        <h4 class="font-weight-bold text-light">2nd SEMESTER</h4>
                        <h5 class="font-weight-bold mt-1 btn btn-dark text-light">CREDITS <i class="badge badge-light">2</i></h5><br>
                        <h5 class="font-weight-bold pt-1 btn btn-dark text-light">MARKS <i class="badge badge-light">2</i></h5>
                    </div>
                    <div class="flip-card-back">
                        <div class="h4 text-center font-weight-bold mt-3 border-bottom">SUBJECT</div>
                        <a href="link" class="btn text-white font-weight-bold text-center">[PH181101]Physics-101</a><br>
                        <a href="link" class="btn text-white font-weight-bold text-center">[MA181102] Mathematics-I</a><br>
                        <a href="link" class="btn text-white font-weight-bold text-center">[CE181103] Engineering Graphics and Design</a><br>
                        <a href="link" class="btn text-white font-weight-bold text-center">[ME181104] Engineering Mechanics</a><br>
                        <a href="link" class="btn text-white font-weight-bold text-center">[HS181105] Sociology</a><br>
                    </div>
                  </div>
                </div>
            </div>

            <!-- 3 -->

            <div class="col-lg-4 col-md-6 col-xs-12 mt-5">
                <div class="flip-card mx-auto d-block">
                  <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <span class="fa-stack fa-5x">
                          <i class="fa fa-square fa-stack-2x"></i>
                          <strong class="text-dark fa-stack-1x mt-2">3</strong>
                        </span>
                        <h4 class="font-weight-bold text-light">3rd SEMESTER</h4>
                        <h5 class="font-weight-bold mt-1 btn btn-dark text-light">CREDITS <i class="badge badge-light">2</i></h5><br>
                        <h5 class="font-weight-bold pt-1 btn btn-dark text-light">MARKS <i class="badge badge-light">2</i></h5>
                    </div>
                    <div class="flip-card-back">
                        <div class="h4 text-center font-weight-bold mt-3 border-bottom">SUBJECT</div>
                        <a href="link" class="btn text-white font-weight-bold text-center">[PH181101] Physics-101</a><br>
                        <a href="link" class="btn text-white font-weight-bold text-center">[MA181102] Mathematics-I</a><br>
                        <a href="link" class="btn text-white font-weight-bold text-center">[CE181103] Engineering Graphics and Design</a><br>
                        <a href="link" class="btn text-white font-weight-bold text-center">[ME181104] Engineering Mechanics</a><br>
                        <a href="link" class="btn text-white font-weight-bold text-center">[HS181105] Sociology</a><br>
                    </div>
                  </div>
                </div>
            </div>


        <!-- 2nd Row -->
            <div class="col-lg-4 col-md-6 col-xs-12 mt-5">
                <div class="flip-card mx-auto d-block">
                  <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <span class="fa-stack fa-5x">
                          <i class="fa fa-square fa-stack-2x"></i>
                          <strong class="text-dark fa-stack-1x mt-2">4</strong>
                        </span>
                        <h4 class="font-weight-bold text-light">4th SEMESTER</h4>
                        <h5 class="font-weight-bold mt-1 btn btn-dark text-light">CREDITS <i class="badge badge-light">2</i></h5><br>
                        <h5 class="font-weight-bold pt-1 btn btn-dark text-light">MARKS <i class="badge badge-light">2</i></h5>
                    </div>
                    <div class="flip-card-back">
                        <div class="h4 text-center font-weight-bold mt-3 border-bottom">SUBJECT</div>
                        <a href="link" class="btn text-white font-weight-bold text-center">[PH181101] Physics-101</a><br>
                        <a href="link" class="btn text-white font-weight-bold text-center">[MA181102] Mathematics-I</a><br>
                        <a href="link" class="btn text-white font-weight-bold text-center">[CE181103] Engineering Graphics and Design</a><br>
                        <a href="link" class="btn text-white font-weight-bold text-center">[ME181104] Engineering Mechanics</a><br>
                        <a href="link" class="btn text-white font-weight-bold text-center">[HS181105] Sociology</a><br>
                    </div>
                  </div>
                </div>
            </div>

            <!-- 2 -->

            <div class="col-lg-4 col-md-6 col-xs-12 mt-5">
                <div class="flip-card mx-auto d-block">
                  <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <span class="fa-stack fa-5x">
                          <i class="fa fa-square fa-stack-2x"></i>
                          <strong class="text-dark fa-stack-1x mt-2">5</strong>
                        </span>
                        <h4 class="font-weight-bold text-light">5th SEMESTER</h4>
                        <h5 class="font-weight-bold mt-1 btn btn-dark text-light">CREDITS <i class="badge badge-light">2</i></h5><br>
                        <h5 class="font-weight-bold pt-1 btn btn-dark text-light">MARKS <i class="badge badge-light">2</i></h5>
                    </div>
                    <div class="flip-card-back">
                        <div class="h4 text-center font-weight-bold mt-3 border-bottom">SUBJECT</div>
                        <a href="link" class="btn text-white font-weight-bold text-center">[PH181101] Physics-101</a><br>
                        <a href="link" class="btn text-white font-weight-bold text-center">[MA181102] Mathematics-I</a><br>
                        <a href="link" class="btn text-white font-weight-bold text-center">[CE181103] Engineering Graphics and Design</a><br>
                        <a href="link" class="btn text-white font-weight-bold text-center">[ME181104] Engineering Mechanics</a><br>
                        <a href="link" class="btn text-white font-weight-bold text-center">[HS181105] Sociology</a><br>
                    </div>
                  </div>
                </div>
            </div>

            <!-- 3 -->

            <div class="col-lg-4 col-md-6 col-xs-12 mt-5">
                <div class="flip-card mx-auto d-block">
                  <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <span class="fa-stack fa-5x">
                          <i class="fa fa-square fa-stack-2x"></i>
                          <strong class="text-dark fa-stack-1x mt-2">6</strong>
                        </span>
                        <h4 class="font-weight-bold text-light">6th SEMESTER</h4>
                        <h5 class="font-weight-bold mt-1 btn btn-dark text-light">CREDITS <i class="badge badge-light">2</i></h5><br>
                        <h5 class="font-weight-bold pt-1 btn btn-dark text-light">MARKS <i class="badge badge-light">2</i></h5>
                    </div>
                    <div class="flip-card-back">
                        <div class="h4 text-center font-weight-bold mt-3 border-bottom">SUBJECT</div>
                        <a href="link" class="btn text-white font-weight-bold text-center">[PH181101] Physics-101</a><br>
                        <a href="link" class="btn text-white font-weight-bold text-center">[MA181102] Mathematics-I</a><br>
                        <a href="link" class="btn text-white font-weight-bold text-center">[CE181103] Engineering Graphics and Design</a><br>
                        <a href="link" class="btn text-white font-weight-bold text-center">[ME181104] Engineering Mechanics</a><br>
                        <a href="link" class="btn text-white font-weight-bold text-center">[HS181105] Sociology</a><br>
                    </div>
                  </div>
                </div>
            </div>


        <!-- 3rd Row -->
            <div class="col-lg-4 col-md-6 col-xs-12 mt-5">
                <div class="flip-card mx-auto d-block">
                  <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <span class="fa-stack fa-5x">
                          <i class="fa fa-square fa-stack-2x"></i>
                          <strong class="text-dark fa-stack-1x mt-2">7</strong>
                        </span>
                        <h4 class="font-weight-bold text-light">7th SEMESTER</h4>
                        <h5 class="font-weight-bold mt-1 btn btn-dark text-light">CREDITS <i class="badge badge-light">2</i></h5><br>
                        <h5 class="font-weight-bold pt-1 btn btn-dark text-light">MARKS <i class="badge badge-light">2</i></h5>
                    </div>
                    <div class="flip-card-back">
                        <div class="h4 text-center font-weight-bold mt-3 border-bottom">SUBJECT</div>
                        <a href="link" class="btn text-white font-weight-bold text-center">[PH181101] Physics-101</a><br>
                        <a href="link" class="btn text-white font-weight-bold text-center">[MA181102] Mathematics-I</a><br>
                        <a href="link" class="btn text-white font-weight-bold text-center">[CE181103] Engineering Graphics and Design</a><br>
                        <a href="link" class="btn text-white font-weight-bold text-center">[ME181104] Engineering Mechanics</a><br>
                        <a href="link" class="btn text-white font-weight-bold text-center">[HS181105] Sociology</a><br>
                    </div>
                  </div>
                </div>
            </div>

            <!-- 2 -->

            <div class="col-lg-4 col-md-6 col-xs-12 mt-5">
                <div class="flip-card mx-auto d-block">
                  <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <span class="fa-stack fa-5x">
                          <i class="fa fa-square fa-stack-2x"></i>
                          <strong class="text-dark fa-stack-1x mt-2">8</strong>
                        </span>
                        <h4 class="font-weight-bold text-light">8th SEMESTER</h4>
                        <h5 class="font-weight-bold mt-1 btn btn-dark text-light">CREDITS <i class="badge badge-light">2</i></h5><br>
                        <h5 class="font-weight-bold pt-1 btn btn-dark text-light">MARKS <i class="badge badge-light">2</i></h5>
                    </div>
                    <div class="flip-card-back">
                        <div class="h4 text-center font-weight-bold mt-3 border-bottom">SUBJECT</div>
                        <a href="link" class="btn text-white font-weight-bold text-center">[PH181101] Physics-101</a><br>
                        <a href="link" class="btn text-white font-weight-bold text-center">[MA181102] Mathematics-I</a><br>
                        <a href="link" class="btn text-white font-weight-bold text-center">[CE181103] Engineering Graphics and Design</a><br>
                        <a href="link" class="btn text-white font-weight-bold text-center">[ME181104] Engineering Mechanics</a><br>
                        <a href="link" class="btn text-white font-weight-bold text-center">[HS181105] Sociology</a><br>
                    </div>
                  </div>
                </div>
            </div>

            <!-- 3 -->

            <div class="col-lg-4 col-md-6 col-xs-12 mt-5">
                <div class="flip-card mx-auto d-block">
                  <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <span class="fa-stack fa-5x">
                          <i class="fa fa-square fa-stack-2x"></i>
                          <strong class="text-dark fa-stack-1x mt-2">OT</strong>
                        </span>
                        <h4 class="font-weight-bold text-light">OTHER</h4>
                        <h5 class="font-weight-bold mt-1 btn btn-dark text-light">CREDITS <i class="badge badge-light">2</i></h5><br>
                        <h5 class="font-weight-bold pt-1 btn btn-dark text-light">MARKS <i class="badge badge-light">2</i></h5>
                    </div>
                    <div class="flip-card-back">
                        <div class="h4 text-center font-weight-bold mt-3 border-bottom">SUBJECT</div>
                        <a href="link" class="btn text-white font-weight-bold text-center">[PH181101] Physics-101</a><br>
                        <a href="link" class="btn text-white font-weight-bold text-center">[MA181102] Mathematics-I</a><br>
                        <a href="link" class="btn text-white font-weight-bold text-center">[CE181103] Engineering Graphics and Design</a><br>
                        <a href="link" class="btn text-white font-weight-bold text-center">[ME181104] Engineering Mechanics</a><br>
                        <a href="link" class="btn text-white font-weight-bold text-center">[HS181105] Sociology</a><br>
                    </div>
                  </div>
                </div>
            </div>

        </div>
    </div>


    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

  <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
</body>

</html>
