<!DOCTYPE html>
<html lang="en">
  <head>
    <title>PH181101|Physics-101</title>

    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Fonts-->
    <link
      href="https://fonts.googleapis.com/css?family=Amatic+SC|Bai+Jamjuree|Rajdhani&amp;subset=latin-ext"
      rel="stylesheet"
    />

    <!-- Bootstrap CSS -->
    <link
      href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
  </head>
  <body class="bg-dark">

    <header class="container">
      <div class="row m-3">
        <div class="col text-center text-light">
            <h1 class="font-weight-bold"> PH181101 | Physics-101</h1>
        </div>
      </div>
    </header>
    <div class="mt-4 container border border-light" >
      <div class="row">
        <div class="col">
          <div class="accordion m-2 mt-5" id="accordionExample">
            
            <div class="card bg-dark border border-light">
              <div class="card-header border-bottom border-light" id="headingOne">
                <h2 class="mb-0">
                  <button class="btn btn-link container-fluid text-light font-weight-bold" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Notes
                  </button>
                </h2>
              </div>

              <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body text-light">
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://bveclib.bvec.workers.dev/0:/"></iframe>
                  </div>
                </div>
              </div>
            </div>


            <div class="card bg-dark border border-light mt-4">
              <div class="card-header border-bottom border-light" id="headingOne">
                <h2 class="mb-0">
                  <button class="btn btn-link container-fluid text-light font-weight-bold" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    Question Papers
                  </button>
                </h2>
              </div>

              <div id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body text-light">
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://bveclib.bvec.workers.dev/"></iframe>
                  </div>
                </div>
              </div>
            </div>
          </div>


            <div class="card bg-dark border border-light mt-4 mb-4">
              <div class="card-header border-bottom border-light" id="headingOne">
                <h2 class="mb-0">
                  <button class="btn btn-link container-fluid text-light font-weight-bold" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThre">
                    Video References
                  </button>
                </h2>
              </div>

              <div id="collapseThree" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body text-light">
                  
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

  </body>
  </html>